.container-fluid {
  width: 1100px;

  @include mq-max-min('desktop', 'tablet_wide') {
    width: 880px;
  }

  @include mq-max-min('tablet_wide', 'tablet') {
    width: 668px;
  }

  @include mq-max-min('tablet', 'phone') {
    width: calc(100% - 40px);
  }

  @include mq('phone') {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
  }

}