#navi_einstellungen {
  a {
    width: calc(25% - 20px);
    box-sizing: border-box;
    background-color: $navicolorSettings;
    text-transform: uppercase;
    float: left;
    margin: 0 13.33333333px;
    padding: 30px 20px;
    @include border-radius();
    color: $weiss;
    align-items: center;

    @include mq('tablet_wide') {
      text-align: center;
      display: inline-block;
      padding: 30px 10px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover, &.active {
      background-color: $navicolorSettingsActive;
    }

    div {
      margin-right: 10px;
      @include mq('tablet_wide') {
        display: block;
        margin: 0 auto 10px auto;
      }
    }

    p {
      display: inline-block;
      margin: 0;

      @include mq-max-min('desktop', 'tablet_wide') {
        font-size: 80%;
      }

      @include mq('tablet'){
        display: none;
      }
    }
  }
}

//ACCOUNT
.box-change-img {
  @include mq-max-min('tablet', 'phone'){
    max-width: 50%;
    float: left;
    margin: 20px 20px 40px 0;
  }
}
