#header {
  height: 70px;
  background-color: $headercolor;
  position: relative;

  @include mq('tablet', min){
    z-index: 100;
  }

  ul {
    float: right;
    margin-top: 10px;
    align-items: flex-end;
    @include mq('phone'){
      align-items: center;
    }

    li {
      color: $weiss;
      display: inline-block;
      padding: 0 10px;
      font-size: 80%;
      text-transform: uppercase;

      &:last-child {
        padding-right: 20px;
        vertical-align: top;
        padding-top: 5px;
      }

      &.hat-nachricht > div {
        position: relative;

        &:after {
          content: "●";
          color: red;
          font-size: 25px;
          right: -3px;
          top: -10px;
          position: absolute;
        }
      }

      span {
        @include mq('phone'){
          display: none;
        }
      }

      > div.icon_logout, > div.icon_nachricht{
        margin-bottom: 5px;
      }
    }
  }
}