#index {
  #bg-index {
    @include background-img("../../img/wincent-login-bg.jpg");
    height: calc(100vh - 50px);
    margin: 0;
    width: 50%;
    float: right;

    img {
      position: absolute;
      bottom: 70px;
      right: 50px;
    }
  }

  main {
    min-height: calc(100vh - 50px);
  }

  img {
    max-width: 250px;
  }

  h1 {
    font-size: 200%;
  }

  form {
    background: $weiss;
    box-sizing: border-box;
    padding: 25px;
    @include border-radius();
    border: 1px solid $grau80;
  }

  @include mq('tablet_wide') {
    form {
      padding: 15px;
    }
  }

  @include mq('tablet') {
    #bg-index {
      display: none;
    }
  }

  @include mq('tablet', min){
    .container-fluid:after {
      content: none;
    }
  }

}

