#navi-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  display: none;

  @include mq('tablet'){
    display: block;
  }

  &.active + nav {
    height: 455px;
  }
}

nav {
  position: fixed;
  width: 80px;
  height: 100vh;
  background-color: $navicolor;
  top: 0;

  @include mq('tablet', min){
    padding-top: 70px;
  }

  @include mq('tablet'){
    width: 100%;
    z-index: 1000;
    position: inherit;
    height: 0;
    overflow: hidden;
    -webkit-transition:height 400ms ease-in;
    -moz-transition:height 400ms ease-in;
    -o-transition:height 400ms ease-in;
    transition:height 400ms ease-in;

  }
  &[disabled="disabled"] {
    ul li{
      &:hover, &.active {
        background-color: $navicolor;
      }

      svg {
        fill: $grau80;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 12px 15px;

      @include mq('tablet'){
        border-bottom: 1px solid $grau80;
      }

      &:hover, &.active {
        background-color: $grau80;
      }

      a {
        @include mq('tablet'){
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }

        span {
          display: none;

          @include mq('tablet'){
            display: inline-block;
            padding-left: 20px;
          }
        }
      }

      svg {
        @include mq('tablet'){
          width: 40px;
        }
      }
    }
  }
}

