.slim {
  cursor: pointer;

  .slim-status:after {
    content: '';
    background-image: url(../../img/platzhalter-userbild.jpg);
    background-size: contain;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

[class*='add-'] {
  text-align: right;

  a {
    font-size: 160%;
    color: $adminLinkAdd;

    &:hover {
      color: $adminLinkAddHover;
    }
  }
}

.mockup_desktop {
  + div {
    position: absolute;
    overflow-y: scroll;
    height: 56.5%;
    width: 85.8%;
    margin-left: 7.3%;
    top: 7.5%;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 11px;
      height: 11px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid $grau95;
      background-color: rgba(0, 0, 0, .5);
    }
  }
}