.page-item.active .page-link {
  background-color: $basiccolorIntern;
  border-color: $basiccolorIntern;
}

.page-link {
  color: $basiccolorIntern;
}

.btn-secondary {
  background-color: $grau80;
  border-color: $grau80;

  &:hover {
    background-color: $grau65;
    border-color: $grau65;
  }
}
