.pad10 {
 padding: 10px;
}

.pad150 {
 padding: 15px 0;
}

.pad015 {
 padding: 0 15px;
}

.pad300 {
 padding: 30px 0;
}

.pad15-t {
 padding-top: 15px;
}

.pad15-b {
 padding-bottom: 15px;
}

.marg150 {
 margin: 15px 0;
}
.marg50 {
 margin: 5px 0;
}

.marg300 {
 margin: 30px 0;
}

.margauto {
 margin: 0 auto;
}