
@keyframes animate-border {
  0% {
    width: 0;
    height: 0;
    border-top-color: $animationcolorButton;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: $animationcolorButton;
    border-right-color: $animationcolorButton;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: $animationcolorButton;
    border-right-color: $animationcolorButton;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

}

@keyframes animate-border-2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: $animationcolorButton;
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: $animationcolorButton;
    border-bottom-color: $animationcolorButton;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: $animationcolorButton;
    border-bottom-color: $animationcolorButton;
  }
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

@-webkit-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-ms-keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@keyframes move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}






