[class*="btn_0"] {
  text-transform: uppercase;
  @include border-radius();
  padding: 10px 20px;
  margin-top: 15px;
  @include font-style(110%, $fontcolor, 300);
  cursor: pointer;
  background: $buttoncolor;
  color: $weiss;
  border: none;
}

.btn_01{
  background: $highlightButton;
  padding: 15px 60px;
}

.btn_02 {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  background-color: $grau30;
  @include border(4px, $grau30);
  position: relative;
  transition: all 0.3s ease;
  display: block;

  @include mq('tablet'){
    width: 50px;
    height: 50px;
  }

  > div[class*='icon_']{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }

  &.animate {

    &:active {
      > div[class*='icon_']{
        transform: scale(1.1);
      }
    }

    &:before, &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -4px;
      left: -4px;
      border: 4px solid transparent;
      @include border-radius();
    }

    &:hover {
      background-color: $grau65;
      &:before {
        animation: animate-border .5s linear forwards ;
      }

      &:after {
        animation: animate-border-2 .5s linear forwards ;
      }
    }
  }

  &:not(.animate){
    &.word {
      background-color: #259bea;
      border-color: #259bea;
      opacity: 0.7;
    }

    &.pdf {
      background-color: #fe0f17;
      border-color: #fe0f17;
      opacity: 0.7;
    }

    &.code {
      background-color: #85b657;
      border-color: #85b657;
      opacity: 0.7;
    }

    &.jpg {
      background-color: #ff5700;
      border-color: #ff5700;
      opacity: 0.8;
    }

    &.png {
      background-color: #FF9900;
      border-color: #FF9900;
      opacity: 0.8;
    }

    &.video {
      background-color: #96C537;
      border-color: #96C537;
      opacity: 0.8;
    }
  }
}

.btn_03 {
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;

  position: relative;
  display: inline-block;
  padding: 0 60px;
  outline: none;
  border: none;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 3;


  .content {
    position: relative;
    display: block;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    &::before, &::after {
      position: absolute;
      color: white;
      opacity: 0;
      top: 100%;
      right: auto;
      left: 50%;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    &::before {
      content: "✔";
    }
    &::after {
      content: "✘";
    }
  }

  &.state-loading {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);

    .content {
      opacity: 0;
    }

    .progress {
      height: 60%;
      width: 100%;
      position: absolute;
      overflow: hidden;
      background-color: $buttoncolor;
      top:20%;
      left:0;

      &:before{
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 100%;
        background-color: $weiss;
        animation: loading 1.5s linear infinite;
      }
    }
  }

  &.state-success {
    background-color: $buttoncolorSuccess;
    .content {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);

      &::before {
        opacity: 1;
      }
    }
  }

  &.state-error {
    background-color: $buttoncolorError;
    .content {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);

      &::after {
        opacity: 1;
      }
    }
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.width100 {
  width: 100%;
}

.cursor-default {
  cursor: default;
}

button + button {
  margin-left: 20px;

  @include mq('tablet'){
    margin-left: 0;
    margin-right: 20%;
  }

  @include mq('phone'){
    margin-right: 0;
  }
}

button[disabled] {
  background: $grau90;
  pointer-events: none;
  cursor: auto;
}

@include mq('tablet_wide') {
  .tablet-wide-float-right {
    float: right;
    margin-right: 0;
  }
}
