.chart_info {
  [class*='grid_']{
    padding: 0 10px;
    @include mq-max-min('tablet', 'phone'){
      max-width: 50%;
    }

    @include mq('phone'){
      padding: 15px 0;
    }

    > div {
      padding: 0 10px 10px;
      > div {
        display: inline-block;

        &:first-child {
          margin-right: 5px;
        }

      }
    }

    [class*='size'] {
      @include mq-max-min('tablet_wide', 'tablet'){
        width: 35px;
        height: 35px;
        display: block;
      }
    }
  }
}

.chartcolor {
  color: $chartcolor;
}

.chartcolorHighlight {
  color: $chartcolorHighlight;
}