$inputHeight : 40px;

fieldset {
    border: 1px solid #ccc;
}

input,select:not([class*='ui-']) {
  width: 100%;
  border: 1px solid $grau80;
  padding: 10px;
  font-size: 90%;
  @include border-radius();
  box-sizing: border-box;
  height: $inputHeight;
  background-color: $weiss;

  &.error {
    display: block;
    border-color: red;
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: $weiss !important;
}

label {
  box-sizing: border-box;
  height: $inputHeight;
}

::placeholder {
  color: $grau80;
}

.error {
  color : $errorcolor;
  font-size: 80%;
  display: none;
}

textarea {
  width: 100%;
  @include border();
  @include border-radius();
  padding: 10px;
  box-sizing: border-box;
  font-size: 90%;
}

input:disabled {
  background-color: $grau95;
}

input.input_as_text {
  -webkit-appearance: none !important;
  border: none;
  width: unset;
  padding: 0;
  height: auto;
  font-size: inherit;
  pointer-events: none;
  color: $fontcolor;
}

/********** Checkbox ***********/
input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: 22px;
  margin: 0 10px 0 9px;

  &+label {
    height: auto;
    cursor: pointer;
    max-width: calc(100% - 32px);
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      background: white;
      position: absolute;
      border-radius: 5px;
      @include border();
      margin-left: -30px;
      top: 0;
      cursor: pointer;
    }

    &+label {
      display: inline;
      height: auto;
    }
  }

  &:checked {
    &+label {
      &:after {
        content: "✓";
        color: #ffab30;
        position: absolute;
        font-size: 29px;
        left: 4px;
        top: -10px;
      }
    }
  }
}


/********** Radio ***********/
input[type="radio"] {
  margin: 0 10px 0 4px;

  &+label {
    margin-right: 20px;
    &:before {
      top: 3px;
    }
  }

  &:checked {
    &+label {
      &:after {
        left: 3px;
        top: -7px;
      }
    }
  }
}


/********** INPUT ***********/
.input_email {
  > input {
    width: calc(50% - 2px);
  }

  > input:nth-child(1){
    margin-right: 2px;
  }

  .label_email {
    padding-left: 40px;

    + div {
      clear: both;

      &:after {
      content: "@";
      position: absolute;
      width: 35px;
      height: $inputHeight - 2px;
      box-sizing: border-box;
      background: $grau90;
      top: 1px;
      padding-top: 8px;
      text-align: center;
      border-radius: 5px 0 0 5px;
      border-right: 1px solid $grau80;
      left: calc(50% + 1px);
      }
    }
  }
}

.input_strasse_nr {
  input {
    &:first-child {
      width: calc(70% - 5px);
    }

    &:last-child {
      width: 30%;
    }
  }
}

.input_plz_ort {
  input {
    &:first-child {
      width: 30%;
      padding-left: 50px;

      @include mq-max-min('tablet_wide', 'tablet'){
        padding-left: 45px;
        padding-right: 5px;
      }

      @include mq('phone'){
        padding-left: 43px;
        padding-right: 2px;
        font-size: 80%;
      }

      &+input {
        width: calc(70% - 5px);
      }
    }
  }

  > div:before {
    content: $icon_de;
    position: absolute;
    width: 30px;
    top: ($inputHeight - 21.5px)/2;
    left: 5px;
    z-index: 10;
    @include mq('tablet'){
      top: ($inputHeight - 1.5px)/2;
    }

  }

  > div:after {
    content:'';
    position: absolute;
    width: 40px;
    height: $inputHeight - 2px;
    background: $grau90;
    top: 1px;
    left: 1px;
    border-radius: 5px 0 0 5px;
    @include mq('tablet'){
      top: 12px !important;
    }
  }
}

.input_tel {
  input {
    padding-left: 50px;
  }

  > div:after {
    content: '+49';
    position: absolute;
    width: 40px;
    height: $inputHeight - 2px;
    top: 1px;
    left: 1px;
    border-radius: 5px 0 0 5px;
    background: $grau90;
    padding-top: ($inputHeight - 20px)/2;
    box-sizing: border-box;
    padding-left: 5px;
    color: $grau65;
  }
}

.input_individuell {
  input {
    padding-left: 50px;
  }

  > div:after {
    content: attr(data-content);
    position: absolute;
    width: 40px;
    height: $inputHeight - 2px;
    top: 1px;
    left: 1px;
    border-radius: 5px 0 0 5px;
    background: $grau90;
    padding-top: ($inputHeight - 20px)/2;
    box-sizing: border-box;
    text-align: center;
    color: $grau65;
  }
}

.input_password {
  > input[type="password"] + div, > input[type="text"] + div {
    height: $inputHeight;
    position: absolute;
    width: 40px;
    top: 0;
    right: 10px;
    cursor: pointer;

    &:after {
      content: $icon_eye;
      height: $inputHeight;
      position: absolute;
      width: 40px;
      top: 0;
      right: 10px;
    }
  }

  > input[type="text"] + div {
    &:after {
      content: $icon_eye-slash;
    }
  }
}

.input_steuernr {
  select {
    width: 30%;
    float: left;
  }

  input {
    width: calc(70% + 3px);
    border-radius: 0 5px 5px 0;
    margin-left: -3px;
  }
}

/********** Responsive ***********/
@include mq('tablet_wide'){
  .responsive_tablet_wide {
    input:not([type="radio"]):not([type="checkbox"]), select{
      margin-top: 10px;
    }

    [class*="input_"]{
      > div:after{
        top: 11px;
      }
    }
  }
}

@include mq('tablet'){
  input:not([type="radio"]):not([type="checkbox"]), select{
    margin-top: 10px;
  }

  [class*="input_"]:not(.input_plz_ort){
    > div:after{
      top: 11px !important;
    }
  }
}