body {
  margin:0;

}

.container-fluid {

  margin-right:auto;
  margin-left:auto;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:1170px;

  &:after{
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }

  [class*="grid_"]{
    float:left;
    width:8.33333%;
    min-height:1px;
    box-sizing:border-box;
    position: relative;
  }

  .clear:after {
    content: "";
    clear: both;
    display: table;
  }

  .grid_1{width:8.33333%}
  .grid_2{width:16.66667%}
  .grid_3{width:25%}
  .grid_4{width:33.33333%}
  .grid_5{width:41.66667%}
  .grid_6{width:50%}
  .grid_7{width:58.33333%}
  .grid_8{width:66.66667%}
  .grid_9{width:75%}
  .grid_10{width:83.33333%}
  .grid_11{width:91.66667%}
  .grid_12{width:100%}

  .preffix_1{margin-left:8.33333%}
  .preffix_2{margin-left:16.66667%}
  .preffix_3{margin-left:25%}
  .preffix_4{margin-left:33.33333%}
  .preffix_5{margin-left:41.66667%}
  .preffix_6{margin-left:50%}
  .preffix_7{margin-left:58.33333%}
  .preffix_8{margin-left:66.66667%}
  .preffix_9{margin-left:75%}
  .preffix_10{margin-left:83.33333%}
  .preffix_11{margin-left:91.66667%}
  .preffix_12{margin-left:100%}


  @media (min-width: 1400px){
    margin-left:90px;
  }

  @include mq('tablet') {
     [class*="grid_"] {
      //float: none;
      //display: block;
      width: 100%;
      margin-left: 0;
    }
  }

  @include mq-max-min('desktop', 'tablet_wide') {
    width: 940px;
  }

  @include mq-max-min('tablet_wide', 'tablet') {
    width: 748px;
  }

  @include mq-max-min('tablet', 'phone') {
    width: 420px;
  }

  @include mq('phone') {
    width: 100%;
    max-width: 300px;
    padding: 0 15px;
  }

}

@include mq('tablet_wide') {
  .responsive_tablet_wide {
    [class*="grid_"] {
      width: 100%;
      margin-left: 0;
    }
  }
}



