.size20 {
  width: 20px;
  height: 20px;
}

.size30 {
  width: 30px;
  height: 30px;
}

.size40 {
  width: 40px;
  height: 40px;
}

.size50 {
  width: 50px;
  height: 50px;
}

.size80 {
  width: 80px;
  height: 80px;

  & +.max-content {
    max-width: calc(100% - 85px);
    box-sizing: border-box;
  }
}

[class*='size'] {
  box-sizing: border-box;
  display: inline-block;
  > div {
    width: 100%;
    height: 100%;
  }
}