.headercolor {
  background-color: $headercolor;
}

.navicolor {
  background-color: $navicolor;
}

.navicolorActive {
  background-color: $navicolorActive;
}

.navicolorSetting {
  background-color: $navicolorSettings;
}

.navicolorSettingsActive {
  background-color: $navicolorSettingsActive;
}

.basiccolorIntern {
  background-color: $basiccolorIntern;
}