.infobox_zahlen {

  display: flex;
  flex-wrap: wrap;
  border: 1px solid $grau90;
  margin: 20px 0;
  @include box-shadow();
  align-items: center;

  > div {

    &:first-child {
      width: 80px;
      height: 80px;
      background-color: $basiccolorIntern;
      padding: 10px;
      box-sizing: border-box;

      @include mq('tablet_wide'){
        width: 65px;
        height: 65px;
      }

      > div {
        width: 100%;
        height: 100%;
      }

      &+div {
        padding-left: 20px;
        @include mq('tablet_wide'){
          padding-left: 7px;
        }
      }
    }

  }

  strong {
    font-size: 150%;
    @include mq('tablet_wide'){
      font-size: 130%;
    }
  }

  p {
    @include mq('tablet_wide'){
      font-size: 85%;
    }
  }
}

.infobox_chart {
  > div {
    @include border();
    margin: 0 0 30px 20px;
    padding: 10px;
    display: flex;
    align-items: center;

    @include mq('tablet'){
      margin: 30px 0;
    }

    .round {
      background-color: $chartcolor;
      padding: 10px;
      box-sizing: border-box;
    }

    > div {
      width: 60px;
      height: 60px;
      display: inline-block;
      @include mq-max-min('tablet_wide', 'tablet'){
        width: 45px;
        height: 45px;
      }

      > div {
        width: 100%;
        height: 100%;
      }
    }

    > p {
      display: inline-block;
      padding-left: 10px;
      font-size: 125%;
      @include mq-max-min('tablet_wide', 'tablet'){
        font-size: 110%;
      }
    }
  }
}

[class*='infobox_user']{
  width: calc(33.33333% - 15px);
  float: left;
  padding: 10px 20px 10px 10px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 15px;

  &.infobox_admin {
    width: 50%;
    margin: 0;

    @include mq('tablet_wide'){
      width: 100%;
    }
  }

  &.box_table {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
  }

  @include mq('phone') {
    width: 100%;
    margin: 20px 0 0 0;
  }

  &:nth-child(3n-2) {
    margin-right: 15px;
  }

  &:nth-child(3n-1) {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }

  &:nth-child(3n) {
    margin-left: 15px;
  }

  &[class*='_warning']{
    background-color: $infoboxcolorWarning;

    > i {
      color: $infoboxcolorWarning;
    }
  }

  &[class*='_note']{
    background-color: $infoboxcolorNote;

    > i {
      color: $infoboxcolorNote;
    }
  }

  &[class*='_info']{
    background-color: $infoboxcolorInfo;

    > i {
      color: $infoboxcolorInfo;
    }
  }

  p {
    font-size: 80%;
    display: inline;
  }

  i {
    display: inline;
    padding-right: 10px;
  }

  .close {
    position: absolute;
    right: 4px;
    top: 4px;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    cursor: pointer;

    i {
      color: $grau50;
      font-size: 10px;
      padding: 0;
      position: absolute;
      margin-left: 3px;
      margin-top: 2px;
    }
  }
}