.kacheln {
  a {
    margin: 20px 0 0;
    padding: 0 10px;

    @include mq-max-min('tablet', 'phone'){
      max-width: 50%;
    }

    li {
      background-color: $tilecolor;
      text-transform: uppercase;
      @include border-radius();
      padding: 20px;

      span {
        color: $weiss;
        @include mq-max-min('tablet_wide', 'phone'){
          font-size: 82%;
        }
      }

      div {
        width: 50px;
        height: 50px;
        margin-right: 10px;

        @include mq-max-min('tablet_wide', 'phone'){
          width: 40px;
          height: 40px;
        }
      }
    }
  }

}