ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &.sortable-list {
    li {
      @include border();
      margin: 5px 0;
      background-color: $weiss;
      cursor: move;

      &:first-child {
        margin-top: 0;
      }

      img {
        max-width: 200px;
        margin-right: 20px;
      }

      video {
        max-width: 300px;
        margin-right: 20px;
      }

      > div {
        padding: 10px;
        align-items: center;
        display: flex;

        &:nth-child(2){
          width: calc(100% - (100px + 100px + 8px + 66px + 3px + 67px));

          @include mq('tablet'){
            width: calc(100% - (90px + 90px + 8px + 66px + 3px + 67px));
          }

          @include mq('phone'){
            width: calc(100% - 48px);
            min-height: 70px;
          }
        }

        &:nth-last-of-type(-n+2) {
          padding: 10px 15px;
        }

        &:nth-last-of-type(-n+4) {
          @include border();
          border-top: none;
          border-bottom: none;
          border-right: none;

          @include mq('phone'){
            border-top: inherit;
            width: 25%;
            box-sizing: border-box;
          }
        }

        &:nth-child(3){
          @include mq('phone'){
            border-left: none;
          }
        }

      }
    }
  }

  &#chat_tabs {
    li {
      background-color: $grau95;
      padding: 20px;
      @include border-radius();
      margin: 0 20px 10px 0;
      cursor: pointer;

      &.hat-nachricht:before {
        content: "●";
        color: red;
        margin-left: -5px;
        margin-right: 5px;
      }

      &:hover {
        font-weight: 400;
      }

      &.chat-active {
        background-color: $colorChatTabsActive;
      }

      &.online{
        color: $gruen;
      }
    }
  }
}