#overlay {
  display: none;
  background-color: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  > div {
    background-color: $weiss;
    width: 70%;
    margin: 50px auto 0;
    padding: 20px;
    @include border-radius();
    position: relative;
    max-width: 1000px;

    .fa-times-circle {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
  }
}