@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

$basic-font-size: 16px !default;
body {
  @include font-style($basic-font-size, $fontcolor, 300);
}

h1{
  @include font-style(250%, $fontcolor, 300)
}

h2{
  @include font-style(200%, $fontcolor, 300)
}

h3{
  @include font-style(150%, $fontcolor, 300, 1.3em);
  margin-top: .4em;
  margin-bottom: .3em;
}

h4{
  @include font-style(120%, $fontcolor, 300);
  margin-top: .2em;
  margin-bottom: .5em;
}

p {
  margin: 5px 0;
}

.center {
  text-align: center;
}

.weiss {
  color: $weiss;
}

.schwarz {
  color: $schwarz;
}

.highlightFont1 {
  color: $highlightFont1;
}

.highlightFont2 {
  color: $highlightFont2;
}

sup {
  font-size: 60%;
}

strong {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.transform-none {
  text-transform: none;
}


a {
  color: $linkcolor;
  text-decoration: none;

  &.underline {
    text-decoration: underline;
  }

  &.highlightLink {
    color: $highlightLink;
  }
}

.small80{
  font-size: 80%;
}

.small60{
  font-size: 60%;
}

.big130 {
  font-size: 130%;
}

.big160 {
  font-size: 160%;
}