.clearButton {
  position: absolute;
  color: $grau80;
  font-size: 30px;
  margin-top: -209px;
  margin-left: 425px;
  border: none;
  padding: 0;
  background: none;

  > span {
    color: inherit;
    background: none;
    padding: 0;
    width: auto;
    height: auto;
    border-radius: unset;
    font-size: 75%;
  }
}

canvas.pad {
  border: 2px solid #ccc;
  border-radius: 5px;
}

.signature label {
  position: absolute;
  margin-top: 175px;
  border-top: 1px solid #ccc;
  width: 430px;
  margin-left: 10px;
}

.error-signature {
  display: none;
}

.signature .sigPad {
  &.error {
    color: #ff0000;
    display: block;
    > .error {
      display: block;
    }
  }

  > .error {
    display: none;
  }

}

.signature .error canvas {
  border-color: red;
}

.container-tooltip-signature {
  float: right;
}

fieldset#signature b {
  font-weight: bold !important;
}

fieldset#signature b.blau {
  color: #2f5597;
}

fieldset#signature .container-fluid {
  width: auto;
}

@include mq('tablet'){
  canvas.pad {
    max-width: 450%;
    width: 100%;
  }

  .signature {
    position:relative;
    max-width: 450px;
  }

  .signature .clearButton {
    margin: 0;
    top: 5px;
    right: 5px;
  }

  .signature label {
    margin: 0;
    width: calc(100% - 30px);
    bottom: 0;
    margin-left: 15px;
  }
}
