.flex, .flex_center, .flex_end {
  display: flex;
  flex-wrap: wrap;
}

.flex_center {
  align-items: center;
}

.flex_end {
  align-items: flex-end;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

img {
  max-width: 100%;
}

svg {
  fill: $iconcolor;
}

main {
  min-height: calc(100vh - 150px);


  &:not(.extern):not(.iframe) {
    max-width: calc(100% - 80px);
    margin-left: 80px;
    padding-bottom: 30px;

    @include mq('tablet'){
      max-width: 100%;
      margin-left: 0;
    }
  }

  &.iframe {
    min-height: unset !important;
  }
}

.round {
  @include border-radius(100%);
  overflow: hidden;
}

.border {
  @include border();
}

:focus {
  outline: none !important;
}

.bg-intern {
  background-color: $basiccolorIntern;
}

.border-radius {
  @include border-radius();
}

.tooltip {
  cursor: pointer;
  &:after {
    content: $icon_info;
    width: 35px;
    display: inline-block;
  }
}

.fa-trash-alt, .fa-edit, .fa-save {
  color: $weiss;
  background-color: $deletebuttoncolor;
  padding: 10px;
  @include border-radius(100%);
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  cursor: pointer;

  @include mq('phone'){
    margin: 0 auto;
  }
}

.fa-edit {
  background-color: $grau30;
}

.fa-save {
  background-color: $gruen;

  &.processed {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

hr {
  @include border();
  border-bottom: none;
  margin-bottom: 20px;
}

video {
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.hide + div {
  display: none;
}

.viereckig {
  width: 55px;
  height: 55px;
  background-color: $buttoncolor;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  margin-right: 20px;
  margin-bottom: 0 !important;
  color: white;
  text-align: center;

  @include mq('tablet_wide'){
    margin-bottom: 5px;
  }

  @include mq('tablet'){
    &:not(.big) ~ p {
      display: inline-block;
    }
  }

  @include mq('phone'){
    margin-right: 15px !important;
  }
}

.border-solid {

  border: 1px solid black;
  @include mq('tablet'){
    border: none;
  }

  @include mq('phone'){
    border: none;
  }

}

#admin_link {
  display: none;
}

a[disabled="disabled"]{
  pointer-events: none;
}


.copied{
  position: fixed;
  top: 0;
  z-index: 100;
  background: $weiss;
  padding: 5px 10px;
  left: calc(50% - 20px);
  @include border-radius();
  @include box-shadow();
}