.support_fenster {
  background-color: $grau80;
  @include border-radius();
  margin-top: 30px;
  padding: 30px;
  height: calc(100vh - 180px);
  position: relative;
  min-height: 450px !important;

  @include mq('phone'){
    padding: 15px;
    margin-top: 15px;
    height: calc(100vh - 170px);
  }

  #support_chat_fenster {
    height: calc(100% - 255px);
    overflow: auto;
    margin-bottom: 20px;
    background-color: $grau95;
    @include border-radius();
    padding: 30px;
    overflow-y: scroll;

    @include mq('phone'){
      height: calc(100% - 279px);
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 11px;
      height: 11px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid $grau95;
      background-color: rgba(0, 0, 0, .5);
    }

    &.hidden > div {
      visibility: hidden;
    }
  }


  .support_anfrage, [class*='support_antwort'] {
    width: 100%;
    position: relative;
    float: left;

    div {
      background-color: $weiss;
      display: inline-block;
      max-width: 70%;
      @include border-radius();
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 50px;

      span {
        color: $grau80;
        font-size: 80%;
        display: block;
        text-align: right;
        margin-bottom: 10px;
      }
    }
  }

  .support_anfrage {
    div {
      margin-left: 70px;
      position: relative;
    }
    &:after {
      content: $icon_user;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      padding: 7px 5px;
      box-sizing: border-box;
      left: 0;
      top: 0;
      overflow: hidden;
    }

    &:not(.userbild):after{
      background: #369;
    }

    &.userbild:after {
      content: '';
      background-size: cover;
    }
  }

  [class*='support_antwort'] {
    div {
      float: right;
      margin-right: 70px;
      position: relative;
    }

    &:after {
      content: $icon_support;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background: $basiccolorIntern;
      padding: 5px 1px;
      box-sizing: border-box;
      right: 0;
      overflow: hidden;
    }
  }

  .support_antwort_vertrieb {
    &:after {
      content: $icon_business;
    }
  }

  div[class*='support']:last-child div{
    margin-bottom: 0;
  }

  div[class*='support_'].gelesen, div[class*='support_'].antwort_gelesen {
    div {
      &:before {
        content: "✓";
        position: absolute;
        right: 5px;
        bottom: 0;
        color: $colorCheckMsg;
      }
    }
  }

  div[class*='support_antwort'] {
    div {
      &:before {
        left: 5px;
      }
    }
  }
}

[class*=grid_].admin {
  i {
    display: none;
  }

  .support_fenster {
    #support_chat_fenster {
      height: calc(100% - 211px);
    }
  }
}



/********* RD ***********/
@include mq('tablet'){
  [class*=grid_].admin {
    position: absolute;
    left: 0;
    background: white;
    visibility: hidden;

    i {
      font-size: 28px;
      margin-left: 20px;
      margin-top: 20px;
      display: block;
      cursor: pointer;
    }

    .support_fenster {
      margin-left: 20px;
      width: calc(100% - 40px);
      height: calc(100vh - 200px);
      margin-top: 20px;
    }
  }

  [class*=grid_].active + [class*=grid_].admin {
    visibility: visible;
  }

}


/************** Online Status *********/
.online ~ label {
  color: $gruen;
}