.ui-widget.ui-widget-content.ui-tabs {
  border: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid $basiccolorIntern;
  background: $basiccolorIntern;
}

.ui-tabs .ui-tabs-panel {
  @include border();
}

.ui-tabs .ui-widget-header {
  border: none;
  background: transparent;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.download-table.ui-tabs .ui-tabs-panel {
  padding: 0;
  border: none;
}