.download-table {
  table {
    border-collapse: collapse;
    width: 100%;

    td,th {
      @include border();
      padding: 10px;
      position: relative;
      @include mq('tablet'){
        padding: 10px 5px;
        font-size: 85%;
        box-sizing: border-box;
      }

      &:first-child {
        width: 30px;
        text-align: center;
        @include mq('tablet'){
          width: 20px;
        }
      }

      &:nth-last-of-type(-n+2) {
        width: 80px;
        text-align: center;
        @include mq('tablet'){
          width: 70px;
        }
      }
    }

    td {
      img {
        max-width: 180px;
      }

      video {
        max-width: 230px;
      }

      div p {
        padding-left: 20px;
      }
    }
  }
}

table:not(.table):not([class*='ui-']) {
  width: 100%;
  border-collapse: collapse;

  td, th {
    @include border();
    padding: 10px;
    position: relative;
    @include mq('tablet') {
      padding: 10px 5px;
      font-size: 85%;
      box-sizing: border-box;
    }
  }
}

//table:not(.table):not([class*='ui-']).responsive {
  table.responsive {

  @include mq('tablet_wide'){
    display: block;

    &.resp_as_accordion {
      tr {
        td:first-child ~ td {
          text-align: center;
        }
      }
    }

    thead, tbody, th, td, tr {
      display: block;
    }

    // Hide table headers (but not display: none;, for accessibility)
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      @include border();
      margin-bottom: 15px;
    }

    td {
      border: none !important;
      border-bottom: 1px solid #eee !important;
      position: relative;
      padding-left: 50% !important;
    }

    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: 400;
    }

    &.resp_as_accordion {
      tr {
        //@include border();
        margin-bottom: 15px;

        td:first-child ~ td {
          display: none;
          text-align: left;
        }

        td:first-child.active ~ td {
          display: block;
        }
      }

      td:before {
        font-weight: 300;
      }

      td:nth-of-type(1) {
        padding-left: 5px !important;
        font-weight: 400;
        font-size: 95%;
        cursor: pointer;
        border-bottom: none;
        &:before {
          content: none;
        }

        &:after {
          content: '+';
          position: absolute;
          right: 15px;
          font-size: 110%;
        }

        &.active {
          border-bottom: 1px solid #eee;
          &:after {
            content: '-';
          }
        }
      }
    }

  }
}

/************ BOOTSTRAP *************/
.bootstrap-table table tr td:not(:first-child) {
  text-align: center;
}

.bootstrap-table .fixed-table-container input[type="checkbox"] {
  margin: 0 10px 0 9px !important;
}

.bootstrap-table  input[type=checkbox]:checked+label:after {
  top: -14px;
}

.fixed-table-container, .bootstrap-table .table {
  @include mq('tablet_wide'){
    border: none;
  }
}