.toggle-container {
  padding-left: 20px;
  box-sizing: border-box;

  @include mq('tablet'){
    padding-left: 0;
  }

  .toggle-navi {

    > div {
      width: 25%;
      float: left;
      border: 3px solid $weiss;
      border-left: none;
      box-sizing: border-box;
      background-color: $grau80;
      color: $weiss;
      padding: 10px;
      position: relative;
      border-radius: 20px 20px 0 0;
      border-bottom: none;
      cursor: pointer;

      &:last-child {
        border-right: none;
      }

      &.active {
        background-color: $basiccolorIntern;

        > div {
          z-index: 100;
        }

        &:first-child:before,  &:last-child:after{
            content: none;
        }


        &:after {
          content: "";
          width: 21px;
          height: 100%;
          background: $basiccolorIntern;
          position: absolute;
          right: -5px;
          transform: skewX(20deg);
          z-index: 100;
          border-radius: 0 10px 0 0;
        }

        &:before {
          content: "";
          width: 21px;
          height: 100%;
          background: $basiccolorIntern;
          position: absolute;
          left: -6px;
          transform: skewX(-25deg);
          border-radius: 10px 0 0 0;
          z-index: 1;
        }

      }

      div {
        @include mq('tablet_wide'){
          display: block;
          margin: 0 auto;
        }
      }

      p {
        display: inline-block;
        padding-left: 6px;

        @include mq('tablet_wide'){
          display: none;
        }
      }
    }
  }

  .toggle-elemente {
    border: 1px solid $grau90;
    padding: 30px;
    @include box-shadow();

    [class*= 'toggle-element-']{
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
