//basic
$schwarz: #000 !default;
$weiss: #fff !default;

//grau
$grau95: hsl(0, 0%, 95%);
$grau90: hsl(0, 0%, 90%);
$grau80: hsl(0, 0%, 80%);
$grau65: hsl(0, 0%, 65%);
$grau50: hsl(0, 0%, 50%);
$grau30: hsl(0, 0%, 30%);

//individuell
$fontcolor : #6a6a7f !default;
$highlightFont1 : #b8966a;
$highlightFont2 : #ff5700;
$errorcolor : red;

$gruen : rgb(133,182,87);

$basiccolorIntern : #336699;

$linkcolor : #6a6a7f;
$highlightLink : #ff5700;
$adminLinkAdd : rgba($gruen,1);
$adminLinkAddHover : rgba($gruen,0.5);

$buttoncolor : #336699;
$highlightButton : #ff5700;
$animationcolorButton: $basiccolorIntern;
$buttoncolorSuccess : rgba($gruen,0.3);
$buttoncolorError: rgba(254,15,23,0.3);

$iconcolor: #336699;
$iconcolorIntern: $weiss;

$headercolor: #336699;

$navicolor: $grau95;
$navicolorActive : $grau80;

$navicolorSettings : $grau80;
$navicolorSettingsActive : #336699;

$chartcolor : rgb(73, 177, 140); //MUSS rgb
$chartcolorHighlight : rgb(238, 56, 53); //MUSS rgb

$tilecolor : #336699;

$deletebuttoncolor : rgb(238, 56, 53);

$infoboxcolorWarning : rgba(254,15,23,0.3);
$infoboxcolorNote : rgba($gruen,0.3);
$infoboxcolorInfo : rgba(37,155,234,0.3);

$colorCheckMsg : $gruen;
$colorChatTabsActive : rgba(51,102,153,0.3);


