<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="application-name" content="mailtemplate" id="mailsettings"
          data-address="{{user_login.uname}}"
          data-subject="Benutzer gesperrt ({{_af.datum}})"
    />
</head>
<body>

Hallo, <br /><br />
<br />
Der folgende Benutzer wurde gesperrt: <br /><br />
UID:    {{user_login.uid}} <br /><br />
E-Mail: {{user_login.uname}} <br /><br />
<br />
===Diese E-Mail wurde automatisch erstellt===<br />
<br />

</body>
</html>